@font-face {
    font-family: Barlow;
    src: url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&family=Raleway&display=swap');
    font-weight: 400;
}
@font-face {
    font-family: Barlow;
    src: url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&family=Raleway&display=swap');
    font-weight: 700;
}
@font-face {
    font-family: Raleway;
    src: url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&family=Raleway&display=swap');
    font-weight: 400;
}
* {box-sizing: border-box;}